body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  overflow:auto;
    color:#FAF6F8;
    border-radius: 5px;
    
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}
div{
display: block;

}

header{
 background: gray;
 min-height: 70px;
 padding-top: 30px;
border-bottom: blue 3px solid;
    background:#581845  ; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(90deg, #581845  , #900C3F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #581845  ,#900C3F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #581845  , #900C3F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #581845  , #900C3F); /* Standard syntax (must be last) */
    
}
.container{
  width:80%;
  overflow: hidden;
  margin: auto;
}
header #branding{
  float:left;
    
    font-family:Lucida Console;
}
 header #inarea{
        position: absolute;
        top: 3px;
        right:10px ;
        float: right;
         }
#searcharea {
  margin-left: 40%;
  margin-top: 18px;
}
#searcharea input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
   background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 40px;
}

#searcharea input[type=text]:focus {
    width: 50%;
}
@media(max-width: 768px){
  header #branding,
  header #searcharea,
  header #searcharea table{
    float:none;
    text-align:center;
    align-items: center;
    align-content: center;
    width:100%;
  }
  table{
    column-width: auto;
  }
header{
    padding-bottom:20px;
  }
  #searcharea {
    margin-left:auto;;
  }
#searcharea input[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      background-color: white;
     background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      margin-left: 40px;
  }

  #searcharea input[type=text]:focus {
      width: 80%;
  }
    header #inarea{
        position: absolute;
        top: 3px;
        right:10px ;
        float: right;
         }
}
