body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  overflow:auto;
    color:#FAF6F8;
    border-radius: 5px;
    
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    max-height: 500px
    
}
.mySlides {display:none}
div{
display: block;

}

header{
 background: gray;
 min-height: 70px;
 padding-top: 30px;
border-bottom: blue 3px solid;
    background:#581845  ; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(90deg, #581845  , #900C3F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #581845  ,#900C3F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #581845  , #900C3F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #581845  , #900C3F); /* Standard syntax (must be last) */
    
}
.container{
  width:80%;
  overflow: hidden;
  margin: auto;
    border-radius: 8px;
}
.container1{
  width:90%;
  overflow: hidden;
  margin: auto;
    border-radius: 8px;
}
header #branding{
  float:left;
    
    font-family:Lucida Console;
}
 header #inarea{
        position: absolute;
        top: 3px;
        right:10px ;
        float: right;
         }
#searcharea {
  margin-left: 40%;
  margin-top: 18px;
}
#searcharea input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
   background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 40px;
}

#searcharea input[type=text]:focus {
    width: 50%;
}
/*.brandingcarousel{
    margin-top: 100px;
    width:500%;
    max-height: 500px;
    border-radius: 8px;
    border: 2px solid gray;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(90deg, #581845  , #900C3F);
     
}*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots{
    position:absolute;
    top:450px;
   
    left:40%;
    right:40%;
    border-radius: 5px;
    
}
.active {
  background-color: #717171;
}
.dot {
  height: 13px;
  width: 13px;
  margin:0 2px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.carouseleft{
    /*margin-top: 10px;*/
    position: absolute;
    top:400px;
    left:5%;
    float:left;
    color:white;
    width: 30px;
    height: auto;
    background:  rgba(0, 0, 0, 0.2);
}
.carouselright{
    /*margin-top: 10px;*/
    position:absolute;
    text-align: right;
     top:400px;
    right:5%;
    float:right;
    color:white;
     width: 30px;
    height: auto;
    background:  rgba(0, 0, 0, 0.2);
}
.carousel{
    margin-top: 10px;
   
    max-height: 300px;
    width: 100%;
    background-color:floralwhite;
}
.container1 img{

}
@media(max-width: 768px){
  header #branding,
  header #searcharea,
  header #searcharea table{
    float:none;
    text-align:center;
    align-items: center;
    align-content: center;
    width:100%;
  }
  table{
    column-width: auto;
  }
header{
    padding-bottom:20px;
  }
  #searcharea {
    margin-left:auto;;
  }
#searcharea input[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      background-color: white;
     background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
      margin-left: 40px;
  }

  #searcharea input[type=text]:focus {
      width: 80%;
     
  }
    header #inarea{
        position: absolute;
        top: 3px;
        right:10px ;
        float: right;
         }
}
